{{ partial "header" . }}
{{ partial "nav" . }}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Projects</h1>
            <h2 class="subtitle">Check out some of the applications and sites I have built</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container content">
        <div class="columns is-multiline is-8 is-variable">
            {{ range where (where .Site.Pages ".Section" "projects") "Kind" "page" }}
                <div class="column is-one-third">
                    <div class="field"><h3>{{ .Title }}</h3></div>
                    <div class="field">
                        <a href="{{ .RelPermalink  }}">
                            <img src="{{ .Params.Image | absURL }}" >
                        </a>
                    </div>
                    <div class="field is-size-6">
                        <p>{{ .Params.Description }}</p>
                    </div>
                    <a href="{{ .RelPermalink  }}" class="button is-light">More</a>
                </div>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer" . }}
