{{ partial "header" . }}
{{ partial "nav" . }}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Blog</h1>
            <h2 class="subtitle">Posts about technologies I have worked with</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container content">
        <p>
            If you have a compatible reader, be sure to check out my <a href='{{ "blog/index.xml" | absURL }}'>RSS Feed</a>
            for automatic updates. For a breakdown of posts by tag, see <a href='{{ "tags" | absURL }}'>here</a>.
        </p>

        {{ range (where (where .Site.Pages ".Section" "post") "Kind" "page").GroupByDate "2006" }}
            <hr />
            <div class="field"><h3>{{ .Key }}</h3></div>
            <ul style="list-style-type: none;">
            {{ range .Pages }}
                <li>
                    <samp>{{ .Date.Format "Jan 02"}}</samp> &mdash; <a class='blog-link' href='{{ .RelPermalink  }}'>{{ .Title }}</a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </div>
</section>

{{ partial "footer" . }}
