@import url(https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap);

@font-face{
    font-family:rubik;
    src:url(/fonts/rubik-regular.woff2)format("woff2");
    font-weight:400;
    font-style:normal;
    font-display:swap
}

@font-face{
    font-family:agave;
    src:url(/fonts/agave-regular.woff2)format("woff2");
    font-weight:400;
    font-style:normal;
    font-display:swap
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, .navigation a {
    font-family: 'rubik', sans-serif;
}

code, kbd, pre {
    font-family: 'agave', monospace;
    font-size: 1.9rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 0.33rem solid;
    color: #1b1d25;
    letter-spacing: -0.1rem;
    font-family: 'agave', monospace;
}

h3 {
    font-size: 2.2rem;
}


img[src$='#center'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

time {
    font-family: 'agave', monospace;
    font-size: 1.6rem;
    color: #858b93;
}

code {
    padding: 5px;
    border-radius: .35rem;
}

/* Links */

.title-link {
    font-family: 'agave', monospace;
}

p a, li a {
    color: #212121;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #42a5f5;
}

p a:hover, li a:hover {
    text-decoration: none;
    border-radius: 0.35rem;
    background: #42a5f5;
}

body.colorscheme-dark a {
    color: #dadada;
}

.navigation .navigation-title {
    letter-spacing: normal;
}

.navigation-title {
    line-height: 42px;
}

.navigation-link {
    border-bottom: none;
}

.tags.a {
    padding: 5px;
    border-radius: .35rem;
}

/* Posts */

.post-list {
    display: flex;
    align-items: center;
    width: 100%;
}

.post-list time {
    display: block;
    align-items: center;
    flex: 0 0 10%;
}

.post-link a {
    display: flex;
    padding: 1rem 0rem 1rem 1rem;
    text-decoration: none;
    border-bottom: none;
}

.post-link a:hover {
    border-radius: 0.35rem;
    background: #42a5f5;
}

.post-link h3 {
    margin-top: 0.1rem;
    margin-bottom: 0;
}

/* Projects */

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.75rem 0;
    grid-gap: 1.5rem;
}

.project .icon {
    font-size: 2.5rem;
    width: 3.5rem;
}

.project a {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    border-width: 0;
    text-decoration: none;
}

.project a:hover h3 {
    border-radius: 0.35rem;
    background: #42a5f5;
}

.project h3 {
    margin: 0;
    text-decoration: underline;
}

.project .description {
    color: #858b93;
}

/* Journey */
.journey-entry {
    display: flex;
}

.journey-img {
    float: left;
    width: 30%;
    margin: 4rem 0 2.5rem 0;
}

.journey-content {
    float: right;
    margin: 0 5em;
    width: 70%;
}

@media screen and (max-width: 768px) {
    h1 {
        line-height: 5rem;
        font-size: 3.0rem;
    }

    h2 {
        font-size: 2.6rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p, li {
        font-size: 1.5rem;
        line-height: 1.75em;
        margin-top: 0rem;
    }

    code {
        font-size: 1.2rem
    }

    .content {
        margin-top: 0rem;
    }

    .content article header {
        margin-top: 0rem;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.75rem 0;
        grid-gap: 1.5rem;
    }

    .post-content time {
        display: block;
        align-items: center;
        flex: 0 0 20%;
    }
}
