{{ partial "nav-close" . }}

<nav class="navbar is-primary" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarData" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ "index.html" | absURL }}">
                    <span class="icon"><i class="mdi mdi-ship-wheel"></i></span>
                    <span>Joshua Powers</span>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="{{ "blog" | absURL }}">
                    <span class="icon"><i class="mdi mdi-text-box-multiple-outline"></i></span>&nbsp;
                    <span>Blog</span>
                </a>
                <a class="navbar-item" href="{{ "projects" | absURL }}">
                    <span class="icon"><i class="mdi mdi-bulletin-board"></i></span>&nbsp;
                    <span>Projects</span>
                </a>
                <a class="navbar-item" href="{{ "journey" | absURL }}">
                    <span class="icon"><i class="mdi mdi-map-outline"></i></span>&nbsp;
                    <span>Journey</span>
                </a>
            </div>
        </div>
    </div>
</nav>

{{ partial "nav-close" . }}
