html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

code, kbd, pre {
    font-family: 'JetBrains Mono', monospace;
}

img[src$='#center'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding: 3rem 1.5rem 3rem;
}

#toc {
    position: sticky;
    top: 1em;
}

.is-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
